<div class="container">

  <div class="text-center">
    <h1>{{ title }}</h1>
  </div>

  <div class="my-3">
    <input type="text" placeholder="enter the page title" [(ngModel)]="title" class="form-control">
  </div>

  <hr>

  <div class="py-3 row">
    <div class="col-5">
      <app-area-calculator (sendForm)="onCalculateArea($event)"></app-area-calculator>

      <div class="area mt-3" 
        *ngIf="formInvalid">
        Please fill all fields
      </div>

      <div *ngIf="!formInvalid">
        <div>
          <span class="area mt-3">{{ areaDetails.name }} Area: {{ areaDetails.width * areaDetails.length }}
            <span *ngIf="areaDetails.unit === 'feet'">ft</span>
            <span *ngIf="areaDetails.unit === 'meter'">m</span>
            <sup>2</sup>
          </span>
        </div>
        <div>
          "Based on a {{ areaDetails.width }} 
          <span *ngIf="areaDetails.unit === 'feet'">ft</span>
          <span *ngIf="areaDetails.unit === 'meter'">m</span>
          by {{ areaDetails.length }} 
          <span *ngIf="areaDetails.unit === 'feet'">ft</span>
          <span *ngIf="areaDetails.unit === 'meter'">m</span>
          measurement"
        </div>
      </div>

    </div>

    <div class="sidebar col-7 text-center">
      <app-array></app-array>
    </div>
  </div>

</div>