<div class="container py-3">

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/house" routerLinkActive="active">House</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/work" routerLinkActive="active">Work</a>
    </li>
  </ul>

  <div class="text-center">
    <h1>{{ title }}</h1>
  </div>

  <div class="my-3">
    <input type="text" placeholder="enter the page title" [(ngModel)]="title" class="form-control">
  </div>

  <hr class="my-5">

  <router-outlet></router-outlet>

</div>